FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
DATABASE_URL=mysql+mysqlconnector://root:ErosyPsique_1216@localhost/example
FLASK_JWT_KEY="super-secret"

# Front-End Variables
BASENAME=/
BACKEND_URL=http://127.0.0.1:3001